// app global css in SCSS form

* {
    font-family: 'JetBrains Mono', monospace;
}
html {
    background-color: #212121;
}

a {
    color: #455a64;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.text-h3 {
    color: white;
    font-size: 4rem;
    line-height: 1em;
}

.text-h4 {
    color: #455a64;
    font-family: 'JetBrains Mono', monospace;
    font-size: 3.5rem;
    line-height: 1em;
}

.text-h4:hover {
    color: white;
}

.text-caption {
    color: grey;
}

#mainheader {
    font-family: 'Space Mono', monospace;
    font-size: 8rem;
    color: white;
    padding-top: 0.30em;
    padding-left: 1%;
}

#backBtn:hover {
    color: white;
}

#pagetitle {
    color: white;
}

#pageheader {
    color: white;
}

.typing-main {
    width: 8.15ch;
    animation: typing 2.5s steps(20), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
  }

  .typing-list {
    width: 9ch;
    animation: typing 3.3s steps(8), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;

  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }