// app global css in SCSS form

* {
    font-family: 'JetBrains Mono', monospace;
}
html {
    background-color: #212121;
}

a {
    color: #455a64;
    text-decoration: none;
}

a:hover {
    color: #718792;
    text-decoration: none;
}

.text-h4 {
    color: #455a64;
    font-family: 'JetBrains Mono', monospace;
    font-size: 3.5em;
    line-height: 1em;
}

#mainheader {
    font-family: 'Space Mono', monospace;
    font-size: 8em;
    color: white;
    padding-top: 0.30em;
    padding-left: 1%;
}

#backBtn:hover {
    color: white;
}

#pagetitle {
    color: white;
}

#pageheader {
    color: white;
}